<% content_for :header_tags do %>
    <%= stylesheet_link_tag "entra_id", plugin: "entra_id" %>
<% end %>

<div id="entra-id-form">
    <button type="button" class="ms-signin-button" onclick="window.location.href='<%= new_entra_id_authorization_path %>'">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21">
            <rect x="0" y="0" width="10" height="10" fill="#f25022"/>
            <rect x="11" y="0" width="10" height="10" fill="#7fba00"/>
            <rect x="0" y="11" width="10" height="10" fill="#00a4ef"/>
            <rect x="11" y="11" width="10" height="10" fill="#ffb900"/>
        </svg>
        <span><%= t(:button_login_with_entra_id) %></span>
    </button>
</div>