<% if EntraId.enabled? %>
    <%= stylesheet_link_tag "entra", plugin: "entra_id" %>

    <div id="entra-form">
        <%= form_tag(oauth_path(back_url: back_url), method: :get) do %>
            <%= back_url_hidden_field_tag %>
            <%= button_tag(name: 'login-oauth', tabindex: 7, id: 'login-oauth-submit', title: l(:entra_login_with)) do %>
            <label>Login with EntraID</label>
            <% end %>
        <% end %>
    </div>
<% end %>